@model App.BLL.DTO.Message

@{
    ViewData["Title"] = "Details";
}

<h1>@Base.Resources.Domain._Shared.Details</h1>

<div>
    <h4>@App.Resources.Domain.RMessage.Message</h4>
    <hr />
    
    <partial name="_DetailDelete" model="Model"/>
    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">@Base.Resources.Domain._Shared.Edit</a> |
    <a asp-action="Index">@Base.Resources.Domain._Shared.BackToList</a>
</div>
